/* margin: topo | direita | inferior | esquerda */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(90deg, #383735 0%, #686a6c 100%);
}

#login-box {
    width: 450px;
    margin: auto;
    margin-top: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fff;
}

input {
    width: 250px;
    margin: 15px auto 10px auto;
    border: none;
    border-bottom: 2px solid rgb(172, 172, 172);
    padding: 5px;
}

input:focus {
    outline: 0;
}

#button {
    width: 250px;
    margin: 18px -75px 0px auto;
}

button {
    text-decoration: none;
    width: 80px;
    height: 34px;
    color: #fff;
    border-radius: 5px;
    border-style: none;
    background-color: #383735;
}

button:hover {
    background-color: #75736f;
    cursor: pointer;
}

img {
    margin: 10px auto 0px auto;
    width: 100px;
}

h3 {
    width: 250px;
    margin: 10px auto 5px auto;
    text-align: left;
}