/* margin: topo | direita | inferior | esquerda */

* {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-size: 26pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

#pesquisa {
    display: flex;
    margin-top: 30px;
    line-height: 46px;
    align-items: center;
}

input, select, option {
    border: 1px solid #cdcdda;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    color: #000;
    width: 350px;
    height: 34px;
}

input:focus {
    outline: 0;
}

i {
    color: black;
    background-color: #267CA0;
    font-size: 20pt;
    margin-left: -7px;
    text-align: center;
    width: 40px;
    height: 36px;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    margin-right: 20px;
}

i::before {
    line-height: 35px;
}

#produtos {
    display: flex; 
}

.container {
    border-radius: 10px;
    margin: 30px 30px 20px 0px;
    padding: 10px;
    box-shadow: #00000059 0px 5px 15px;
    display: block;
    text-align: center;
}

.container img {
    border: 1px solid #00000033;
    border-radius: 10px;
    width: 90%;
}

.container p, .container li { 
color: #000000;
width: 250px;
margin-left: 12px;
font-family: 'Courier New', Courier, monospace;
font-size: 14px;
text-align: left;
}

.container p {
    margin-left: 20px;
}

.bottom {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    line-height: 80px;
    float: left;
    margin-left: 10px;
}

.bottom li {
    height: 25px;
    line-height: 25px;
    width: 150px;
    float: left;
}

.bottom i {
    margin-top: 35px;
    border-radius: 5px;
}